/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    margin: 0;
    font-family: sans-serif;

}

:root{
    --azul: #32b9cd;
    --amarelo: #e3b062;
}

/* HEADER */
.header{
    background-color: black;
    border-bottom: 3px solid var(--azul);
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;

}

.titulo{
    color: var(--azul);
}

.navbar{
    display: flex;
    justify-content: space-between; 
    color: var(--amarelo);
    list-style: none;
    width: 300px;

}

.navbar a{

    color: var(--amarelo);
    text-decoration: none;

}

.agora{
    font-weight: bolder;
}

/* BANNER */

.banner{
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {

    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;

}

.banner .container span {
    font-weight: bolder;
}



/* MISSÃO VISSÃO E VALORES */

.social{
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4{
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
}

/* FOOTER */

.footer{
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4{
    margin-bottom: 0;
}


/* CSS TELA LOGIN */

.login{
    height: 510px;
    width: 100%;
}


.login .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: auto;
}

.login .card-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
    max-width: 560px;
    background-color: #dcdcdc;
    color: #e4005a;
    border-radius: 10px;
} 

h2 {
    margin-bottom: 0px;
}

.login .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login .formulario .campo{

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 480px;
    padding: 5px;
    font-weight: bolder;
    font-size: 14px;
}

#email_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

#senha_input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    border-color: var(--azul);
}

.botao{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    background-color:#e4005a;
    font-weight: bolder;
    color: white;
    border: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
